// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
//@import 'sencha-touch/default';
//@import 'sencha-touch/default/all';

@import 'sencha-touch/cupertino';
@import 'sencha-touch/cupertino/all';
@import 'mixins';

// Custom code goes here..


$lightred: #ff0000;
$iosBlue: #157efb;

$universalBlue: RGB(68, 158, 215);

$lightPurple: RGB(158, 106, 144);
$lightBlue: RGB(234, 244, 246);
$lightTeal: RGB(91, 183, 177);
$flatPurple: RGB(119, 107, 163);
$pollImgBorder: RGB(229, 223, 88);
$listVoted: RGB(98, 198, 162);
$toolBarBlue: RGB(226, 240, 249);
$toolBarTextColor: RGB(68, 158, 215);

$list-color-1: RGB(69, 191, 215);
$list-color-2: RGB(116, 206, 205);
$list-color-3: $listVoted;
$list-color-4: RGB(97, 189, 116);
$list-color-5: RGB(160, 212, 99);
$list-color-6: RGB(188, 223, 84);
$list-color-7: RGB(229, 223, 88);
$list-color-8: RGB(228, 173, 85);
$list-color-9: RGB(227, 132, 80);
$list-label-colors: 
	$list-color-1, $list-color-2, $list-color-3, $list-color-4, $list-color-5,
	$list-color-6, $list-color-7, $list-color-8, $list-color-9;

@import 'login';

.x-toolbar.x-docked-top {
  padding-top: 20px !important;
  //padding-bottom: 5px;
  background-color: $toolBarBlue;

  .x-title {
  	color: $universalBlue;
	}
} 

/* .x-tab.x-tab-active .x-button-icon:before, .x-tab.x-tab-active .x-button-label, .x-tab.x-tab-active .x-badge {
	color: $universalBlue;
} */
// Examples of using the icon mixin:
// @include icon('user');
@include icon('camera');
@include icon('photos');
@include icon('heart');
@include icon('table');
@include icon('delete');
//@include icon('add');

.pollList-div {
		padding-left: 1em;
		height: 60px;
    //background: white;
    //background-color: $listVoted;
    color: white;
    border-bottom: 1px solid #ccc;
    font-family: "Helvetica Neue";
    img {
    	border: 3px solid #fff; /* stroke */
    	-moz-border-radius: 43px;
    	-webkit-border-radius: 43px;
    	border-radius: 43px; /* border radius */
    	-moz-background-clip: padding;
    	-webkit-background-clip: padding-box;
    	background-clip: padding-box; /* prevents bg color from leaking outside the border */
    	background-color: #939fab; /* layer fill content */
    	border-color: white;
    }
}

@for $i from 1 through length($list-label-colors) {
    /* .x-label:nth-child(#{$i}) {
        background-color: nth($list-label-colors, $i);
        width: 100%
    } */
    .x-dataview-item:nth-child(9n+#{$i}) {
        background-color: nth($list-label-colors, $i);
        //width: 100%
    }
}

.pollList-div.voted {
		color: black;
    background-color: white;
    img {
    	border-color: $universalBlue;
    }
}

.pollList-list-item {
    background: #ddd;
    border-bottom: 1px solid #ccc;
}

.pollList-list-item {
    //font-weight: bold;
}

.pollList-list-item-pressed {
	//background: orange;
}

.pollList-div, .userList-div, .friendsList-div {
	@include flex;

	img {
		//display: inline-block;
		margin: 0 10px 0 0;
		width: 24px;
	}
	.flex-middle {
		@include flex-middle-div
	}
	.toggleBtn {
		text-align: center;
		@include flex-last-div
	}
}

/* .pollList-div img {
	display: inline-block;
	height: 24px;
	margin-bottom: 3px;
} */

.x-list .x-list-disclosure:before {
	font-family: 'Pictos';
	//content: '*';
	//content: attr(data-icon);
	-webkit-font-smoothing: antialiased;
	//float: right;
	font-size: 1.5em;
}

.friends-list .x-list-disclosure {
	&:before{
		color: $lightred;
		content: '*';
	}
}

[data-icon]:before {
	font-family: 'Pictos' !important;
	content: attr(data-icon);
}

.userList-div .x-button-icon {
	color: $universalBlue;
	//font-size: 1.5em;
	right: 0.4em;
	top: 0.05em;
}

.x-list-item {
	//background-color: $lightBlue;
}

.userList-div img, .friendsList-div img {
	border-radius: 50%;
}

.x-form-fieldset-title {
	text-align: center;
}

.poll-detail-results-options {
	text-align: center;
}

.poll-detail-image-background {
	background-color: #9e6a90; // Old browsers
	//@include filter-gradient(#5bb7b1, #9e6a90, horizontal); // IE6-9
	@include background-image(linear-gradient(left,  #9e6a90 0%,#5bb7b1 100%));
}

.poll-detail-chart-background {
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: #5bb7b1; // Old browsers
	//@include filter-gradient(#5bb7b1, #9e6a90, horizontal); // IE6-9
	@include background-image(linear-gradient(left,  #5bb7b1 0%,#9e6a90 100%));
}

/* .poll-detail-image {
	background-size: 100% !important;
	height: 100%;
} */
.nv-legend-text {
	fill: white;
}

.poll-detail-results-options .x-form-fieldset-inner {
	color: white;
	//background: $flatPurple;
}

.poll-detail-results-label {
	//height: 30px;
	/* display: table;
	vertical-align: middle;
	margin: auto; */
}

.nv-pieChart {
	opacity: 0;
}

.x-layout-box-item {
	-webkit-transition : all 100ms ease-in;
}

.addUser-button-pressed{
	opacity: 0.3;
}

.pollImage, .imageFullScreen {
	background-size: contain !important;
	/* img {
		max-width: 100%;
		height: auto;
	} */
}

.rotate-90-right {
	background-repeat: no-repeat !important;
	background-size: contain !important;
	background-position: center;
	-webkit-transform: rotate(90deg);
}

/* .poll-detail-results-label:nth-child(1) {
	color: red;
} */

.x-field-labeled .x-form-label, .x-input-radio:checked+.x-field-mask:after {
	color: white !important;
}

@for $i from 1 through length($list-label-colors) {
    /* .x-label:nth-child(#{$i}) {
        background-color: nth($list-label-colors, $i);
        width: 100%
    } */
    .x-field-labeled:nth-child(#{$i}) {
        background-color: nth($list-label-colors, $i) !important;
        //width: 100%
    }
}

.x-form-fieldset .x-field:before {
	border-bottom-width: 0px !important;
}
.poll-detail-results-label {
	padding: 1em;
}
/* .poll-detail-results-label .checked:before {
	font-family: 'Pictos' !important;
	content: '*';
	//position: absolute;
	//right: 1em;
} */

.x-thumb:after {
	background-color: $universalBlue;
}

/* .x-button-label {
	color: $universalBlue !important;
} */

/* .x-segmentedbutton .x-button {
	border: 1px solid $universalBlue !important;
	&.x-button-pressed {
		background-color: $universalBlue !important;
		.x-button-label {
			color: white !important;
		}
	}
} */
// .poll-detail-chart-background {
// 	// needs latest Compass, add '@import "compass"' to your scss
// 	background-color: #5bb7b1; // Old browsers
// 	@include filter-gradient(#5bb7b1, #9e6a90, horizontal); // IE6-9
// 	@include background-image(linear-gradient(left,  #5bb7b1 0%,#9e6a90 100%));
// }
// .user-list .x-list-disclosure {
// 	right: 1em !important;
// 	&:before{
// 		color: green;
// 		content: 'U&';
// 	}
// }

// .x-field .x-field-input, .x-field .x-input-el:before {
// 	font-family: 'Pictos';
// 	content: 'U';
// }