// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
//@import 'sencha-touch/default';
//@import 'sencha-touch/default/all';

@import 'sencha-touch/cupertino';
@import 'sencha-touch/cupertino/all';
@import 'mixins';
@import 'sencha-touch/cupertino/src/plugin/PullRefresh';
// Custom code goes here..


$lightred: #ff0000;
$iosBlue: #157efb;

$universalBlue: RGB(68, 158, 215);

$lightPurple: RGB(158, 106, 144);
$lightBlue: RGB(234, 244, 246);
$lightTeal: RGB(91, 183, 177);
$flatPurple: RGB(119, 107, 163);
$pollImgBorder: RGB(229, 223, 88);
$listVoted: RGB(98, 198, 162);
$toolBarBlue: RGB(226, 240, 249);
$toolBarTextColor: RGB(68, 158, 215);

$list-color-1: RGB(69, 191, 215);
$list-color-2: RGB(116, 206, 205);
$list-color-3: $listVoted;
$list-color-4: RGB(97, 189, 116);
$list-color-5: RGB(160, 212, 99);
$list-color-6: RGB(188, 223, 84);
$list-color-7: RGB(229, 223, 88);
$list-color-8: RGB(228, 173, 85);
$list-color-9: RGB(227, 132, 80);
$list-label-colors: 
	$list-color-1, $list-color-2, $list-color-3, $list-color-4, $list-color-5,
	$list-color-6, $list-color-7, $list-color-8, $list-color-9;

@import 'login';

.x-toolbar.x-docked-top {
  padding-top: 20px !important;
  //padding-bottom: 5px;
  background-color: $toolBarBlue;

  .x-title {
  	color: $universalBlue;
	}
} 

/* .x-tab.x-tab-active .x-button-icon:before, .x-tab.x-tab-active .x-button-label, .x-tab.x-tab-active .x-badge {
	color: $universalBlue;
} */
// Examples of using the icon mixin:
// @include icon('user');
@include icon('camera');
@include icon('photos');
@include icon('heart');
@include icon('table');
@include icon('delete');
//@include icon('add');

.pollList-div {
		//padding-left: 1em;
		//height: 40px;
    //background: white;
    //background-color: $listVoted;
    color: white;
    //border-bottom: 1px solid #ccc;
    font-family: "Helvetica Neue";
    img {
    	border: 3px solid #fff; /* stroke */
    	-moz-border-radius: 43px;
    	-webkit-border-radius: 43px;
    	border-radius: 43px; /* border radius */
    	-moz-background-clip: padding;
    	-webkit-background-clip: padding-box;
    	background-clip: padding-box; /* prevents bg color from leaking outside the border */
    	background-color: #939fab; /* layer fill content */
    	border-color: white;
    }
}

@for $i from 1 through length($list-label-colors) {
    /* .x-label:nth-child(#{$i}) {
        background-color: nth($list-label-colors, $i);
        width: 100%
    } */
    /* .x-dataview-item:nth-child(9n+#{$i}) {
        background-color: nth($list-label-colors, $i);
        //width: 100%
    } */
    .poll-list .x-list-item:nth-child(9n+#{$i}) {
        background-color: nth($list-label-colors, $i);
        //width: 100%
        border-bottom: 1px solid #ccc;
    }
}

.x-list-item.votedParent {
		.pollList-div {
			color: black;
		}
    background-color: white !important;
    img {
    	border-color: $universalBlue;
    }
}

/* .pollList-list-item {
    background: #ddd;
    border-bottom: 1px solid #ccc;
} */

.pollList-list-item {
    //font-weight: bold;
}

.pollList-list-item-pressed {
	//background: orange;
}

.pollList-div, .userList-div, .friendsList-div {
	@include flex;

	img {
		//display: inline-block;
		margin: 0 10px 0 0;
		width: 24px;
	}
	.flex-middle {
		position: relative;
		@include flex-middle-div
	}
}

/* .pollList-div img {
	display: inline-block;
	height: 24px;
	margin-bottom: 3px;
} */

.x-list .x-list-disclosure:before {
	font-family: 'Pictos';
	//content: '*';
	//content: attr(data-icon);
	-webkit-font-smoothing: antialiased;
	//float: right;
	font-size: 1.5em;
}

.friends-list .x-list-disclosure {
	&:before{
		color: $lightred;
		content: '*';
	}
}

[data-icon]:before {
	font-family: 'Pictos' !important;
	content: attr(data-icon);
}

.userList-div .x-button-icon {
	color: $universalBlue;
	//font-size: 1.5em;
	right: 0.4em;
	top: 0.05em;
}

.x-list-item {
	//background-color: $lightBlue;
}

.userList-div img, .friendsList-div img {
	border-radius: 50%;
}

.x-form-fieldset-title {
	text-align: center;
}

.poll-detail-results-options {
	text-align: center;
}

.poll-detail-image-background {
	background-color: #9e6a90; // Old browsers
	//@include filter-gradient(#5bb7b1, #9e6a90, horizontal); // IE6-9
	@include background-image(linear-gradient(left,  #9e6a90 0%,#5bb7b1 100%));
}

.poll-detail-chart-background {
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: #5bb7b1; // Old browsers
	//@include filter-gradient(#5bb7b1, #9e6a90, horizontal); // IE6-9
	@include background-image(linear-gradient(left,  #5bb7b1 0%,#9e6a90 100%));
}

/* .poll-detail-image {
	background-size: 100% !important;
	height: 100%;
} */
.nv-legend-text {
	fill: white;
}

.poll-detail-results-options .x-form-fieldset-inner {
	color: white;
	//background: $flatPurple;
}

.poll-detail-results-label {
	//height: 30px;
	/* display: table;
	vertical-align: middle;
	margin: auto; */
}

.nv-pieChart {
	//opacity: 0;
	.nv-pieWrap {
		-webkit-transform-origin: center center;
		transform-origin: center center;
		/* -webkit-transform: rotate(-200deg);
		transform: rotate(-200deg); */
		opacity: 0;
	}
}

.x-layout-box-item {
	-webkit-transition : all 100ms ease-in;
}

.addUser-button-pressed{
	opacity: 0.3;
}

.pollImage img {
	display: block;
	margin: auto;
}

.imageFullScreen {
	//background-size: contain !important;
	/* img {
		max-width: 100%;
		height: auto;
	} */
}

.rotate-90-right img{
	/* background-repeat: no-repeat !important;
	background-size: contain !important;
	background-position: center; */
	-webkit-transform: rotate(90deg) translateY(-100%);
	-webkit-transform-origin: top left;
	//background-size: contain !important;
}

/* .poll-detail-results-label:nth-child(1) {
	color: red;
} */

.x-field-labeled .x-form-label, .x-input-radio:checked+.x-field-mask:after {
	color: white !important;
}

@for $i from 1 through length($list-label-colors) {
    /* .x-label:nth-child(#{$i}) {
        background-color: nth($list-label-colors, $i);
        width: 100%
    } */
    .color-label.x-field-labeled:nth-child(#{$i}) {
        border-left: solid 5px nth($list-label-colors, $i) !important;
        width: 95%;
        margin: 0 auto 5px;
        font-size: small;
        opacity: 0.3;
    }

    .options-label:nth-child(#{$i}) {
    		.x-innerhtml {
	        border-left: solid 5px nth($list-label-colors, $i) !important;
	        //width: 100%
	      }
    }
}

.addPollForm .options-input:nth-child(4){
	border-left: solid 3px nth($list-label-colors, 1);
	margin-top: 5px;
}

.addPollForm .options-input:nth-child(5){
	border-left: solid 3px nth($list-label-colors, 2);
	margin-top: 5px;
}

.addPollForm .options-input:nth-child(6){
	border-left: solid 3px nth($list-label-colors, 3);
	margin-top: 5px;
}

.addPollForm .options-input:nth-child(7){
	border-left: solid 3px nth($list-label-colors, 4);
	margin-top: 5px;
}
.addPollForm .options-input:nth-child(8){
	border-left: solid 3px nth($list-label-colors, 5);
	margin-top: 5px;
}

.x-form-fieldset .x-field:before {
	border-bottom-width: 0px !important;
}
.poll-detail-results-label {
	padding: 1em;
}
/* .poll-detail-results-label .checked:before {
	font-family: 'Pictos' !important;
	content: '*';
	//position: absolute;
	//right: 1em;
} */

.x-thumb:after {
	background-color: $universalBlue;
}

.vote-button {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #3f9dd9; /* layer fill content */
	//height: 4em;
	margin-top: 1em;
	.x-button-label {
	    color: white !important;
	    //padding: 1em;
	}
}

.options-label {
	text-align: center;
	border-bottom: solid 1px rgb(150,164,163);
	width: 80%;
	margin: auto;
	color: white;
	.x-innerhtml {
		margin: 0.5em 0;
	}
}

.poll-detail-participants {
	background-color: transparent;
	.x-list-item .x-innerhtml {
		color: white;
		text-align: center;
		position: relative
	}
	.icon {
		position: absolute;
		left: 1em;
	}
}

.icon-right {
	position: absolute;
	right: 0;
	line-height: 1em;
	color: $universalBlue;
	&:before {
		font-size: 2em;
	}
}

.poll-detail-container {
	//background-image: url('../images/blurred.png');
	// background-image: url('../images/black_linen_v2_@2X.png');
	background-image: url('../images/micro_carbon.png');
}

.poll-admin-form {
	//background-image: url('../images/blurred.png');
	//margin-top: -2em;
	margin-bottom: 1em;
	.x-form-fieldset-inner {
		border: 0;
		background: transparent;
	}
	.x-form-fieldset-title {
		margin-bottom: 1em;
		.x-innerhtml{
			color: white;
			font-family: serif;
			font-style: oblique;
			font-size: 1em;
			white-space: nowrap;
		}
	}
}

.addPollForm {
	.add-options-label, .add-options-slider, .poll-end-label, .poll-end-button {
		border-left: solid 3px $list-color-9;
	}

	.poll-end-label {
		margin-top: 5px;
	}

	.question {
		border-left: solid 3px $list-color-6;
	}
}

.addPollForm .x-form-fieldset .x-form-fieldset-inner {
	border: 0;
}

.poll-detail-question {
	text-align: center; 
  padding: 0.5em; 
  /* background-color: RGB(234, 244, 246);
  border-radius: 10px;
  width: 95%;
  margin: 5px auto 0 auto; */
  opacity: 0.5;
}

.x-carousel-indicator span {
	border: solid 1px $universalBlue;
}

.x-mask.imagemask{
	opacity: 0.7;
	.x-mask-inner {
		width: 100%;
		height: 100%;
		-webkit-border-radius: 0;
		border-radius: 0;

		.spinner {
			top: 10%;
		}
		.dot1, .dot2 {
			background-color: $universalBlue;
			//opacity: 0.7;
		}
	}
}

.poll-detail-form {
	margin: 1em 0;
	.x-form-fieldset-inner {
		border: 0;
		background: transparent;

		.checked {
			opacity: 1;
		}
	}
	.x-form-fieldset-title {
		//margin-bottom: 1em;
		padding: 1em 0 1em;
		//margin: 0 auto 1em;
		background-color: rgb(150,164,163);
		.x-innerhtml{
			//color: white;
			font-family: serif;
			font-style: oblique;
			font-size: 1.5em;
			white-space: normal;
		}
	}
}

.x-form-fieldset {

	.x-field.color-label {
		&:before {
			//border-bottom: solid 1px rgb(150,164,163) !important;
			//width: 90%;
		}
	}
	.x-field.color-label.checked {
		.x-form-label {
			color: rgb(247,198,103) !important;
		}
		&:before {
			//border-bottom: solid 1px rgb(243, 116, 100) !important;
		}
	}
}

@-webkit-keyframes pulse { 
	0% {border-color: $list-color-1;} 
	25% {border-color: $list-color-2;} 
	50% {border-color: $list-color-3;} 
	75% {border-color: $list-color-2;} 
	100% {border-color: $list-color-1;} 
}

.poll-detail-container .poll-question {
	//padding: 2em 0;
	//margin-bottom: 1em;
	// background-color: rgba(44,47,51,0.6);
	// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(70,86,87,1)), color-stop(100%,rgba(108,139,137,1))); /* Chrome,Safari4+ */
	// background: -webkit-linear-gradient(top, rgba(70,86,87,1) 0%,rgba(108,139,137,1) 100%); /* Chrome10+,Safari5.1+ */
	.container {
		padding-left: 10px;
		//background-color: rgba(211,73,58,0.8);
		.image {
			img{
				width: 48px;
				border: 2px solid #fff; /* stroke */
				-webkit-border-radius: 7px;
				//border-radius: 43px; /* border radius */
				-webkit-background-clip: padding-box;
				background-clip: padding-box; /* prevents bg color from leaking outside the border */
				background-color: rgb(247,198,103); /* layer fill content */
				border-color: rgb(247,198,103);
				//padding-left: 1em;
			}
		}
	}
	.text {
		//background-color: rgba(145,194, 97,0.7);
		color: white;
		text-align: center;
		text-transform: uppercase;
		.poster {
			font-size: small;
			margin-bottom: 6px;
			//padding-left: 5px;
			// text-transform: uppercase;
			color: rgb(247,198,103);
			.catch-line {
				color: rgb(243, 116, 100);
			}
		}
		.question {
			padding-left: 10px;
			//color: rgb(165,194,97);
			font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
		}
		.x-inner {
			border-left: solid 2px rgb(243, 116, 100); //rgba(145,194, 97,1);
			// -webkit-animation: pulse 6s infinite;
		}
		padding: 10px;
	}
	//margin: 2em auto 1em;
}

.animated .rotateIn {
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}